<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.ibm.commons.Extension">
      <service
            class="ch.christianguedemann.demoplugin.angular.library.AJSLibrary"
            type="com.ibm.xsp.Library">
      </service>
   </extension>
   <extension
         point="com.ibm.commons.Extension">
      <service
            class="ch.christianguedemann.demoplugin.angular.resources.AJSResourceProvider"
            type="com.ibm.xsp.GlobalResourceProvider">
      </service>
   </extension>

</plugin>
